body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.boxdraw {
    background: rgba(121, 121, 121, 0.164);
    border: 2px solid #888888;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

input[type=range]{
    -webkit-appearance: none;
    width: 100%;
}

input[type=range]:focus{
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track{
    background-color: rgb(211, 211, 211);
    height: 5px;          
    border-radius: 2.5px;
}

input[type=range]::-webkit-slider-thumb {  
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: -5px;
    background: rgb(70, 70, 70);
    cursor: pointer;
}


.ctrBtn{
    appearance: none;
    background-color:  rgb(95, 95, 95);
    border-radius: 5px;
    border-width: 0;
    color:rgb(255, 255, 255);
    margin-right: 10px;
    width: 80px;
    margin-bottom: 15px;
    box-shadow:none;
}

.ctrBtn:hover{
    background-color:  rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}

.ctrBtn:active{
    background-color:  rgb(66, 66, 66);
    color: rgb(255, 255, 255);
}

.ctrBtn:disabled{
    background-color: rgb(190, 190, 190);
    color: rgb(255, 255, 255);
}


.chartBtn{
    appearance: none;
    background-color:  rgb(95, 95, 95);
    color: rgb(255, 255, 255);
    width: 50px;
    border-radius: 5px;
    border-width: 0;
    box-shadow:none;
}

.chartBtn:hover{
    background-color:  rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}

.chartBtn:active{
    background-color:  rgb(66, 66, 66);
    color: rgb(255, 255, 255);
}

.chartBtn:disabled{
    background-color: rgb(190, 190, 190);
    color: rgb(255, 255, 255);
}

.chartBtn:focus{
    outline:none;
}

#busControlInput:checked~#busControlLabel::before {
    color: #fff;
    border-color: #b63333;
    background-color: #b63333;
}

#subwayControlInput:checked~#subwayControlLabel::before {
    color: #fff;
    border-color: #b63333;
    background-color: #b63333;
}

#taxiControlInput:checked~#taxiControlLabel::before {
    color: #fff;
    border-color: #b63333;
    background-color: #b63333;
}

#time{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 40px;
    height: 100%;
    line-height: 50px;
}


.mapboxgl-popup-content{
    padding: 5px 5px 5px;
}

.desc{
    color:rgb(129, 129, 129);
    margin-bottom: 0;
    font-weight: bold;
}

.playControl{
    margin-top: 30px;
}

.list-group-item{
    font-size: 15px;
    font-weight: 400;
}

.map-overlay {
    font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 20%;
    top: 0;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay h2 {
    font-size: 24px;
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
}